---
import { Icon } from 'astro-icon/components';

type Props = {
    link: string,
    display_text: string,
    label?:string,
    target?: string,
    icon?: {
        name: string;
        side: "left" | "right";
    };
}

const { link, icon, label="Contact Me", display_text, target = "_self"} = Astro.props
---

<button aria-label={label} class="p-2 font-mono font-bold hover:border-slate-600 hover:bg-slate-600 hover:text-white border-slate-400 bg-white rounded-md border-2">
    <a href={link} target={target}>

        <!-- ICON TEXT -->

        {
            icon && icon.side == "left" && (
            <Icon name={icon.name} size={24} />
            )
        }
        <span>{display_text}</span>
        {
        icon && icon.side == "right" && (
            <Icon name={icon.name} size={24} />
            )
        }
    
    </a>
</button>